.services {
  padding: 100px 80px;
  background: #111;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  color: #d4af37;
  font-size: 48px;
  margin-bottom: 15px;
}

.section-header p {
  color: #bbb;
  font-size: 18px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.service-card {
  background: #1a1a1a;
  padding: 40px 30px;
  border-radius: 20px;

  transition: 0.3s ease;
  border: 1px solid transparent;
}

.service-card:hover {
  transform: translateY(-10px);
  border-color: #d4af37;
}

.service-card h3 {
  color: white;
  margin-bottom: 15px;
  font-size: 24px;
}

.service-card p {
  color: #aaa;
  line-height: 1.7;
}