<section class="admin-page">

  <div class="admin-card">

    <h1>Gallery Upload</h1>

    <p>
      Upload bridal and makeup portfolio images.
    </p>

    <select [(ngModel)]="selectedCategory">

      <option value="bridal">
        Bridal Makeup
      </option>

      <option value="engagement">
        Engagement Makeup
      </option>

      <option value="party">
        Party Makeup
      </option>

      <option value="hd">
        HD Makeup
      </option>

    </select>

  <input
  type="file"
  #fileInput
  (change)="onFileSelected($event)"
>

    <button (click)="uploadImage(fileInput)">
      Upload Image
    </button>

    <small *ngIf="uploadMessage">
      {{ uploadMessage }}
    </small>

  </div>

  <div class="uploaded-section">

    <h2>Uploaded Images</h2>

    <div class="gallery-grid">

      <div
        class="gallery-card"
        *ngFor="let item of galleryItems$ | async"
      >

        <img
          [src]="item.imageUrl"
          alt=""
        >

        <div class="gallery-info">

          <span>
            {{ item.category }}
          </span>

          <button (click)="deleteImage(item.id)">
            Delete
          </button>

        </div>

      </div>

    </div>

  </div>

</section>